.header {
    padding: 20px 0;
    z-index: 99;
    transition: all 0.5s ease-in-out;
    animation: 0.5s ease-in-out 0s normal none 1 running fadeInDown;

    @include media-breakpoint-down(lg) {
        padding: 16px 0;
    }

    &.fixed-header {
        padding: 16px 0;
        background-color: var(--bs-primary);

        .logo {
            .logo-dark {
                display: block;
            }

            .logo-white {
                display: none;
            }
        }

        .light-dark {
            color: var(--bs-dark) !important;
        }

        .toggle-menu {
            background-color: var(--bs-dark) !important;

            .menu-icon {
                color: var(--bs-white) !important;
            }
        }
    }

    .logo {
        display: flex;
        align-items: center;
        height: 120px;
        flex-shrink: 0;

        .logo-dark {
            display: none;
        }

        a {
            display: flex;
            align-items: center;
            height: 100%;
        }

        img {
            max-width: 120px;
            max-height: 120px;
            width: auto;
            height: auto;
            aspect-ratio: 1 / 1;
            object-fit: contain;
            display: block;
        }

        @include media-breakpoint-down(lg) {
            height: 90px;

            img {
                max-width: 90px;
                max-height: 90px;
            }
        }

        @include media-breakpoint-down(md) {
            height: 70px;

            img {
                max-width: 70px;
                max-height: 70px;
            }
        }
    }

    .header-wrapper {
        min-height: 120px;
        align-items: center;

        @include media-breakpoint-down(lg) {
            min-height: 90px;
        }

        @include media-breakpoint-down(md) {
            min-height: 70px;
        }
    }

    .header-menu {

        .header-item {
            .header-link {
                .animate-spin {
                    transition: 0.5s;
                }

                .animate-spin {
                    opacity: 0;
                    width: 0;
                }

                &:hover,
                &.active {
                    .animate-spin {
                        opacity: 1;
                        width: 20px;
                        margin-inline-end: 5px;
                    }
                }
            }
        }
    }

}